@import 'layouts/header';
@import 'layouts/garage';
@import 'layouts/winners';

@import 'base/reset';

html {
  box-sizing: border-box;
  background-color: black;
  font-family: 'Gruppo', cursive;
  color: #FFFFFF;
  scroll-behavior: smooth;
  min-height: 200%;
}

main {
  width: 80%;
  margin: auto;
}

header {
  position: sticky;
}