@import 'layouts/header';
@import 'layouts/garage';

@import 'base/reset';

html {
  box-sizing: border-box;
  background-color: black;
  font-family: 'Gruppo', cursive;
  color: #FFFFFF;
  scroll-behavior: smooth;
}

main {
  display: flex;
  align-items: flex-end;
  width: 80%;
  margin: auto;
}