.garage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.garage-wrapper {
  display: flex;
}

.garage__pic {
  width: 300px;
  min-height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.garage__title {
  width: 400px;
  line-height: 50px;
  border: 5px solid rgb(240, 202, 121);
  font-family: 'Gruppo', cursive;
  background-color: rgb(15, 93, 173);
  border-radius: 10px;
  margin-top: 50px;
}

.garage__subtitle {
  font-family: 'Gruppo', cursive;
  color: rgb(240, 202, 121);
}

.garage__button {
  font-family: 'Gruppo', cursive;
  background-color: transparent;
  color: rgb(240, 202, 121);
  font-size: 16px;
  text-decoration: none;
  padding-left: 20px;
  cursor: pointer;
  border: none
}

.pagination-buttons {
  display: flex; 
  justify-content: space-between;
  padding-right: 20px;
}

.create {
  display: flex;
}

.create__input {
  height: 21px;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid rgb(240, 202, 121);
  background-color: rgb(15, 93, 173);
  font-family: 'Gruppo', cursive;
  appearance: none;
  padding: 0px;
  color: #FFFFFF;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.cars__info {
  width: 300px;
  border: 5px solid rgb(240, 202, 121);
  background-color: rgb(15, 93, 173);
  border-radius: 10px;
  margin-top: 50px;
  padding-left: 10px;
}

.car {
 margin-top: 20px;
}

.car__name {
  color:rgb(240, 202, 121);
  margin: auto;
}

.car__buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 5px;
}

.car__start-button {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #39cf4f;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  svg {
    min-width: 40px;
    justify-self: center;
    align-self: center;
    fill:#39cf4f;
  }
}

.car__start-reset {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #cf4339;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  svg {
    min-width: 40px;
    justify-self: center;
    align-self: center;
    fill:#cf4339;
  }
}

.car__edit-button {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(15, 93, 173);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  svg {
    min-width: 40px;
    justify-self: center;
    align-self: center;
    fill:rgb(15, 93, 173);
  }
}

.car__road {
  border-top: 3px dashed #FFFFFF;
}