.garage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.garage_hidden {
  display: none;
}

.garage-wrapper {
  display: flex;
}

.garage__pic {
  width: 300px;
  min-height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.garage__title {
  width: 400px;
  line-height: 50px;
  border: 5px solid rgb(240, 202, 121);
  font-family: 'Gruppo', cursive;
  background-color: rgb(15, 93, 173);
  border-radius: 10px;
  margin-top: 50px;
}

.garage__subtitle {
  font-family: 'Gruppo', cursive;
  color: rgb(240, 202, 121);
}

.garage__button, 
.garage__delete-button {
  font-family: 'Gruppo', cursive;
  background-color: transparent;
  font-size: 16px;
  text-decoration: none;
  padding-left: 20px;
  cursor: pointer;
  border: none;
}

.garage__button {
  color: rgb(240, 202, 121);
}


.garage__delete-button {
  color: #cf4339;
}

.pagination-buttons {
  display: flex; 
  justify-content: space-between;
  padding-right: 20px;
}

.create {
  display: flex;
}

.create__input {
  height: 21px;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid rgb(240, 202, 121);
  background-color: rgb(15, 93, 173);
  font-family: 'Gruppo', cursive;
  appearance: none;
  padding: 0px;
  color: #FFFFFF;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

